[user]
	name = Lauri Mäkinen
	email = lauri.sakari.makinen@gmail.com
[core]
	whitespace = trailing-space,space-before-tab
[color]
	ui = auto
[alias]
	c = commit
	s = status
	c = commit
	d = diff
	b = branch
    fix = commit --amend -C HEAD
	lg = log --oneline --graph --decorate
	l = log --oneline --decorate
[push]
	default = simple
