[user]
    name = Lauri Mäkinen
    email = lauri.sakari.makinen@gmail.com
[core]
    whitespace = trailing-space,space-before-tab
[color]
    ui = auto
[alias]
    c = commit
    s = status
    c = commit
    co = checkout
    br = for-each-ref --sort=committerdate refs/heads/ refs/remotes --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    d = diff
    b = branch
    fix = commit --amend -C HEAD
    lg = log --oneline --graph --decorate
    l = log --oneline --decorate
[push]
    default = matching
