[submodule "vimfiles/bundle/rust.vim"]
	path = vimfiles/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vimfiles/bundle/gundo.vim"]
	path = vimfiles/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/vim-sleuth"]
	path = vimfiles/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vimfiles/bundle/grep.vim"]
	path = vimfiles/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim
[submodule "vimfiles/bundle/vim-go"]
	path = vimfiles/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vimfiles/bundle/vim-startify"]
	path = vimfiles/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "vimfiles/bundle/vim-node"]
	path = vimfiles/bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "vimfiles/bundle/Align"]
	path = vimfiles/bundle/Align
	url = git@github.com:vim-scripts/Align.git
